<body>
  <header>
    <div class="background_image">

      <!-- <img src="<%= image_path('angelcannes.jpg') %>" alt="Cannes" /> -->
      <span class="info">
        <h1>AngeLopez</h1>
        <p>Full Stack Web Developer, B.Comm - Business Technology Management Candidate (June 2017), Baker/Cake Decorator</p>

        <a class="icon" href="https://github.com/theAngeLopez"><img src=<%=image_path('github42.png')%> alt="Github"> </a>
        <a class="icon" href="https://twitter.com/theAngeLopez"><img src=<%=image_path('twitter42.png')%> alt="Twitter"> </a>
        <a class="icon" href="http://angelcake.co"><img src=<%=image_path('angelcake100.png')%> alt="AngelCAKE"> </a>
        <a class="icon" href="https://ca.linkedin.com/in/theangelopez"><img src=<%=image_path('linkedin42.png')%> alt="LinkedIn"> </a>
        <a class="icon" href="http://angelcake.co"><img src=<%=image_path('email100.png')%> alt="email"> </a>
      </span>
    </div>
  </header>

  <main>
    <h2>About</h2>

    <p>I am a motivated final-year business technology management student with interests in technology, baking, public speaking, music, and DIY through various mediums (like coding and cakes!).
I am a firm believer in doing what you love so discovering or creating ways to make my interests not only effective, but also profitable are my main goals.</p>


    <div id="portfolio">
    <h2>Projects</h2>

    <h3>Ripple</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, earum ex consequuntur facilis adipisci vero alias sit quidem doloremque hic quam suscipit, illum quibusdam saepe molestias neque, velit. Obcaecati, quidem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit voluptas officiis assumenda exercitationem saepe quas. Veniam perferendis quae nobis. Labore quaerat, culpa et velit id eum ipsam. Dolor aspernatur, earum.</p>
    <a href="http://rippleripple.herokuapp.com/"></a>

    <h3>Rainforest</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ad voluptatem, dolorum minus impedit quidem nam necessitatibus aperiam officia debitis dolorem quaerat, praesentium incidunt, eos sunt laudantium quod dolore delectus!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem repellat eveniet architecto quidem ipsam et quas vel. Id eaque atque dolorem, architecto? Quibusdam in eius nisi voluptatibus esse asperiores. Ex!</p>
    </div>
  </main>
  <footer>

  </footer>
</body>
